html, body {
    height: 100vh;
    font-size: 20px;
    color: #fff;
    background: grey url(../img/sprite.src-img1.png) center center no-repeat;
    text-align: center;
    transform: scale(1.5);
}